:root {
  --accent-red-default: #dd4b39;
  --accent-red-dark: #c04c3e;
  --accent-red-light: #eb786a;
}

.custom-btn {
  width: fit-content;
  padding: 7px 17px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: all ease-in-out 200ms;
}

.custom-btn:hover {
  cursor: pointer;
}

.custom-btn-contain {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #ffffff;
}

.custom-btn-contain:hover {
  border: 1px solid #eb786a;
  background-color: #eb786a;
  color: #ffffff;
}

.custom-btn-contain:active {
  border: 1px solid #c04c3e;
  background-color: #c04c3e;
  color: #ffffff;
}

.custom-btn-outline {
  border: 1px solid #dd4b39;
  background-color: #ffffff;
  color: #dd4b39;
}

.custom-btn-outline:hover {
  border: 1px solid #eb786a;
  background-color: #ffffff;
  color: #eb786a;
}

.custom-btn-outline:active {
  border: 1px solid #c04c3e;
  background-color: #ffffff;
  color: #c04c3e;
}

.custom-btn-text {
  border: 1px solid transparent;
  color: #dd4b39;
}

.custom-btn-text:hover {
  border: 1px solid transparent;
  color: #eb786a;
}

.custom-btn-text:active {
  border: 1px solid transparent;
  color: #c04c3e;
}
