  :root {
  --accent-red-default: #dd4b39;
  --accent-red-dark: #c04c3e;
  --accent-red-light: #eb786a;
  --accent-cream: #fffdd0;
}

.main-header {
  background-color: #bd000a;
  color: white;
  padding: 8px 30px;
}

.main-body {
  background-color: #ffffff;
  color: #c04c3e;
  height: 100%;
}

.main-body-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  padding-top: 5%;
}

.main-body-show-head {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 25px;
}

.main-body-show-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}

.main-body-show-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}